.ModalBackground {
    background-color: rgba(90, 108, 146, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(211, 79, 79);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  } 