body {
  margin: 0;
  padding: 0;
  background: #4291b8;
  color: #1E1E1F;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}